 
.bg {
    background-image: url('../Image/gb.jpg'); 
    background-size: cover; 
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat;
    height: 100vh;  
}

.yoga {
    text-align: center;
    color: #060506; 
    font-size: 60px; /* Corrected the property name */
    margin-top: 0;
}

.p-id {
    text-align: center; /* Center the text */
    color: #000000; 
    font-size: 20px;
}
